.modal{
    width: 19rem;
    height: 13rem;
    border-radius: 0.5rem;
    border: 5px solid #0831B4;
    background: #F2F9FF;
}

.modal__title{
    width: 17rem;
    height: 5rem;
    color: #0831B4;
    text-align: center;
    font-family: Poppins;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: 2.5rem;
    padding-left: 1rem;
}

.modal__decisionButton{
    cursor: pointer;
    display: flex;
    padding-left: 2rem;
    gap: 1rem
}

.button{
    width: 7rem;
    height: 3rem;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 0.5rem;
    color: #0831B4;
    font-family: Poppins;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 500;
    line-height: 2rem; 
    border: 5px solid #0831B4;
    background-color: #F2F9FF;
    border-radius: 1.5rem;
}

.button--left{
    float: left;
}

.button--right{
    float: right;
}