.furniturespace__container {
  position: relative;
  width: 150px;
  height: 100px;
}

.furniturespace {
  background: #EDFAFE;
  border: 5px solid #7CBFFF;
  border-radius: 100px;
  width: 150px;
  height: 50px;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
  cursor: pointer;
}

.furniturespace__imageWrapper {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.furniturespace__image {
  width: 100px;
  height: 100px;
  object-fit: contain;
}

.hidden {
  display: none;
}