/* Container for the whole inventory section */
.inventory {
  width: 349px;
  height: 150px;
  background-color: #96BAFF;
  border: 7px solid #0831B4;
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 12px;
  justify-items: center;
  align-items: center;
}

.inventory__furniture {
  background: none;
  border: none;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.furniture_image {
    z-index: 2;
    opacity: 1;
    pointer-events: none;
}

.buttons {
    display: flex;
    gap: 1rem;
    margin-left: 17rem;
    margin-bottom: 1rem;
}