.modal {
    width: 20rem;
    height: 24rem;
    padding: 1rem;
    border-radius: 0.5rem;
    border: 5px solid #0831B4;
    background: #D6EBFF;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-family: "Poppins";
    box-sizing: border-box;
    }

.modal__header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    }

.modal__title {
    color: #0831B4;
    font-size: 2rem;
    font-weight: 700;
    margin: 0;
    }

.modal__button {
    cursor: pointer;
    }

.modal__form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    max-width: 17rem;
    }

.modal__label {
    font-size: 1.5rem;
    font-weight: 600;
    color: #0831B4;
    }

.modal__input {
    height: 1rem;
    width: 87%;
    padding: 0.5rem 1rem;
    border: 5px solid #0831B4;
    border-radius: 0.5rem;
    background: #F2F9FF;
    font-size: 1rem;
    color: #0831B4;
    font-family: "Poppins";
    font-weight: 500;
    }

.modal__footer{
    margin: 1rem; 
    display: flex;
    align-items: center;
    padding-left: 1.5rem;
    cursor: pointer;
    }

.modal__input:focus {
    outline: none;
    border: 5px solid #0831B4;
}

.modal__input:hover {
    border: 5px solid #0831B4; 
}