.navigation {
    width: 393px;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #96BAFF;
    border: 10px solid #0831B4;
    border-radius: 0.5rem 0.5rem 0 0;
}

.navigation__button {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: none;
    border: none;
    cursor: pointer;
}

.navigation__text {
    font-family: "Pixelify Sans", sans-serif;
    color: #0831B4;
    margin-top: 0.1rem;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5rem;
    text-align: center;
}

.navigation__text--selected {
    font-family: "Pixelify Sans", sans-serif;
    color: #F2F9FF;
    margin-top: 0.1rem;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5rem;
    text-align: center;
}