.speechBubble {
    min-width: 1rem;
    min-height: 1rem;
    border-radius: 0.5rem;
    border: 5px solid #0831B4;
    background: #F2F9FF;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto; 
    padding: 1rem; 
}

.motivationalmessage {
    color: #0831B4;
    font-family: "Pixelify Sans";
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5rem;
    overflow-wrap: break-word;
    margin: 0;
}