.button{
    width: 3rem;
    height: 3rem;
    border-radius: 0.5rem;
    border: 5px solid #0831B4;
    display: flex;            
    justify-content: center; 
    align-items: center;       
    cursor: pointer;  
}

.button--active{
    background: #96BAFF;
}

.button--inactive{
    background: #5A75CD;
}

.button__icon {
  object-fit: contain;
}