.intro__image{
    z-index: 0;
    object-fit: cover;
}

.lumenWrapper {
  position: absolute;
  top: 50%;             /* adjust to match mockup */
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: 1;
}

/* Position Decorate button below Lumen */
.decorateButton {
  position: absolute;
  bottom: -1rem;             /* adjust to sit under Lumen */
  right: 1rem;
  transform: translateX(-50%);
  z-index: 2;
}

/* Anchor NavigationBar to bottom */
.navigationBar {
  position: absolute;
  bottom: -10rem;
  left: 0;
  width: 100%;
  z-index: 3;
}