.intro__image{
    z-index: 0;
    object-fit: cover;
}

.lumen {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: 1;
}

.decorateButton {
  position: absolute;
  bottom: -1.5rem;
  right: 0.5rem;
  transform: translateX(-50%);
  z-index: 2;
}

.navigationBar {
  position: absolute;
  bottom: -10rem;
  left: 0;
  width: 100%;
  z-index: 3;
}