.intro__image{
    z-index: 0;
    object-fit: cover;
}

.lumen {
  position: absolute;
  bottom: 20rem;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: 1;
}

.decorateButton {
  position: absolute;
  bottom: 9rem;
  right: 0.5rem;
  transform: translateX(-50%);
  z-index: 2;
}

.navigationBar {
  position: absolute;
  bottom: 0rem;
  left: 0;
  width: 100%;
  z-index: 3;
}

.speechBubble {
  position: absolute;
  bottom: 100%;  
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 0.5rem; 
}