.welcome__image{
    z-index: 1;
    object-fit: cover;
  }

.authentication__buttons {
    display: flex;
    gap: 1rem;
    align-items: center;
    position: absolute;
    z-index: 2;
    bottom: 33rem;
    left: 50%;
    transform: translateX(-50%);
  }

.authentication__buttons--stacked {
    flex-direction: column;
    gap: 0.5rem;
  }

.modal__overlay {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
  overflow: hidden;
  }