/* WELCOME IMAGE */
.welcome{
    position: relative;
}

.welcome--fullscreen{
    height: 100vh;
}

.welcome__image{
    z-index: 1;
}

.welcome__image--cover{
    object-fit: cover;
}

/* AUTHENTICATION BUTTONS */
.auth__buttons {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 2rem;
  align-items: center;
}

.auth__buttons--stacked {
  flex-direction: column;
  gap: 0.75rem;
}