.screen {
  position: relative;
  width: 393px;       
  height: 852px;      
  margin: 0 auto;    
  overflow-x: hidden;
  overflow-y: auto;
}

.screen--fullscreen {
  width: 100%;
  height: 100vh;      
}