html, body {
  margin: 0;
  padding: 0;
  overflow-y: visible; 
  background-color: #D6EBFF;
  display: flex;
  justify-content: center;
  align-items: center; 
}

.screen {
  position: relative;
  width: 393px;
  height: 852px; 
  overflow: auto;
  padding-right: 0;
  box-sizing: border-box;
  margin: 0 auto; 
}

html {
  -webkit-text-size-adjust: none;
}
/* [AI Generated Code (Lines 21 to 23)]: Prevents text from scaling */

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-text-fill-color: #0831b4 !important;
}
/* [from code tutor (lines 26 to 31)]: edit webkit-autofill to change the browser default styling of the autofill to match the styling of globals.css */