html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-y: auto; 
  background-color: #D6EBFF;
}

.screen {
  position: relative;
  width: 393px;
  min-height: 100vh; 
  margin: 0 auto; 
  overflow-x: hidden; 
  overflow-y: visible; 
}

.screen--fullscreen {
  width: 100%;
  height: 100vh;      
  display: flex;
  flex-direction: column;
}