html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow: hidden; 
  background-color: #D6EBFF;
}

.screen {
  position: relative;
  width: 393px;
  height: 100vh;
  margin: 0 auto; 
  overflow-x: hidden; 
  overflow-y: auto; 
}

.screen--fullscreen {
  width: 100%;
  height: 100vh;      
  display: flex;
  flex-direction: column;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active {
  -webkit-text-fill-color: #0831b4 !important;
}
/* [from code tutor (lines 25 to 30)]: edit webkit-autofill to change the browser default styling of the autofill to match the styling of globals.css*/